# AWS Configuration
aws_region = "ap-southeast-5"
environment = "dev"
project_name = "ddac-monitoring"

# Network Configuration
vpc_cidr = "192.168.0.0/24"
availability_zones = ["ap-southeast-5a", "ap-southeast-5b"]

# EC2 Configuration
# key_pair_name = "your-key-pair-name"  # Optional - comment out to use SSM only
instance_type = "t3.medium"

# RDS Configuration
db_instance_class = "db.t3.micro"
db_allocated_storage = 20